
body {
    background-image: url(../img/main__block/main__block_bcg2.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
}

a {
    text-decoration: none;
}


.form {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 700px;
    justify-content: center;
    margin: 500px auto;
    background-color: #aaff71;
}

.form > * {
    text-align: center;
    margin: 0 auto;
}

.form__title {
    font-size: 70px;
    margin-bottom: 20px;
}

.input {
    display: flex;
    margin-bottom: 20px;
    font-size: 20px;
    color: #FFFFFF;
    background-color: black;
    border: 1px solid #aaff71;
    width: 500px;
    height: 30px;
    border-radius: 10px;
    
}

.input:last-child {
    margin: 0;
}

.form__submit {
    width: 500px;
    height: 50px;
    font-size: 30px;
    margin-top: 20px;
    background-color: cadetblue;
    border: 2px solid black;
    border-radius: 10px;
}

